<div class="message-field">
    <span
        class="message-field__text"
        role="textbox"
        data-placeholder="{{placeholder}}"
        contenteditable
        data-role-message-field
    ></span>
    <div class="message-field__control">
        <i class="icon-add-file"></i>
    </div>
</div>