<div class="search-field" data-component-id="{{ id }}">
    <div class="search-field__icon">
        <i class="icon-search"></i>
    </div>
    <input data-role-search-input class="search-field__text" type="text" placeholder="{{ placeholder }}">
</div>