<section hidden class="menu-wrapper">
    <div class="menu-background"></div>
    <div class="menu">
        <div class="menu__header">
            <div class="menu-marker"></div>
        </div>  
        <ul class="menu-list">
            {{#each links}}
                <li class="menu-list__item">{{{this}}}</li>
            {{/each}}
        </ul>
    </div>
</section>