<div data-role-user-field class="user-field">
    <input data-role-user-field-input 
        class="user-field__field" 
        type="text" 
        name="{{ name }}" 
        placeholder="{{ placeholder }}" 
        value="{{ value }}">
    <div data-role-user-field-info class="user-field__info">{{info}}</div>
</div>