<main class="profile-page">
    <section class="profile-page__header">
        {{{ header }}}
    </section>
    <section class="profile-page__info">
        {{{ userInfo }}}
    </section>
    {{{ menu }}}
</main>