<main class="conversation-page">
    <section class="header-container">{{{ header }}}</section>
    <section class="conversation-container">{{{ conversation }}}</section>
    <section class="message-field-container">{{{ messageField }}}</section>
    {{{ menu }}}
</main>