<main class="profile-edit-page">
    <section class="profile-edit-page__header">
        {{{ header }}}
    </section>
    <section class="profile-edit-page__info">
        {{{ form }}}
    </section>
    {{{ menu }}}
</main>