<main class="signin-page">
    <section class="signin-page__welcome">
        {{{ logo }}}
    </section>
    <section class="signin-page__form">
        {{{ signin }}}
    </section>
    <section class="signin-page__bottom">
        <span class="auth-reference-block">
            Don't have an account?
            <a class="auth-reference-block__link" href="/signup">SignUp!</a>
        </span>
    </section>
</main>