<div class="alert-container">
    <div class="alert">
        <div class="alert__control">
            <div class="alert-close-button">
                <i class="alert-close-icon"></i>
            </div>
        </div>
        <div class="alert__content">
            <div class="alert-title">{{title}}</div>
            <div class="alert-content">{{message}}</div>
        </div>
    </div>
</div>