<div data-role-field class="field-container">
    <input data-role-field-input 
        class="form-input field-container__field" 
        type="{{ type }}" 
        name="{{ name }}" 
        placeholder="{{ placeholder }}" 
        value="{{ value }}">
    <div hidden data-role-error-container class="field-container__error"></div>
</div>