<form data-role-user-info-form action="/user/info" method="POST" class="user-info-form">
    <div class="user-info-form__item">
        {{{ field }}}
    </div>
    <div class="user-info-form__control">
        <button type="submit" class="submit-button">
            <i class="icon-arrow-right"></i>
        </button>
    </div>
</form>