.loading {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 80px;
    align-self: center;

    &__title {
        font-family: Montserrat, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        white-space: nowrap;
        color: var(--primary-color);
    }
}
