<main class="search-page">
    <section class="header-container">{{{ header }}}</section>
    <section class="search-field-container">{{{ searchField }}}</section>
    <section class="search-result-container">{{{ list }}}</section>
    {{{ menu }}}
</main>