<main class="password-page">
    <section class="password-page__header">
        {{{ header }}}
    </section>
    <section class="password-page__info">
        {{{ combineForm }}}
    </section>
    {{{ menu }}}
</main>