@import '../../layout/main/main.css';

.password-page {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    background: var(--primary-color);

    &__info {
        display: flex;
        justify-content: center;
        background: var(--main-bg-color);
        border-top-left-radius: 24px;
        border-top-right-radius: 24px;
        flex-grow: 1;
        padding: 32px;
    }
}
