<main class="signup-page">
    <section class="signup-page__welcome">
        {{{ logo }}}
    </section>
    <section class="signup-page__form">
        {{{ signup }}}
    </section>
    <section class="signup-page__bottom">
        <span class="auth-reference-block">
            Have an account?
            <a class="auth-reference-block__link" href="/signin">SignIn!</a>
        </span>
    </section>
</main>